/* RESET SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1000px;
    margin: 10rem auto;
    background-color:blanchedalmond;
    border: 3px solid red;
}

.flex-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: aqua;
}

.card {
    min-width: 200px;
    height: 250px;
    background-color: brown;
}

.grid-section {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.grid-section > card {
    grid-column: span 1;
    background-color: blueviolet;
}

.grid-media-queries {
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 906px) {
    .grid-media-queries {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 690px) {
    .grid-media-queries {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 470px) {
    .grid-media-queries {
        grid-template-columns: repeat(1, 1fr);
    }
}