* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100px;
    min-width: 90%;
    margin: 0 auto;
    padding: .5rem;
    border: 1px solid black;
}

header {
    height: 6rem; 
    width: 100%;
    background-color: #480063;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

figure {
    height: 6rem;
    width: 6rem;
    background-color: #480063;
    border-radius: 50%;
}

section {
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

article {
    width: 100%;
    background-color: #FD96A9;
    margin-bottom: 0.5rem;
    height: 6rem;
}

article:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
}

article:nth-child(2) {
    background-color: #B2008A;
    grid-row: 1;
    grid-column: 2;
}

article:nth-child(3) {
    background-color: #B2008A;
    grid-row: 2;
    grid-column: 1;
}

article:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
}

button {
    width: 16rem;
    height: 4rem;
    margin: 2rem auto;
    background-color: #F42DAC;
    border: none;
    border-radius: 1.5rem;
}

footer {
    background-color: #C1C99A;
    height: 8rem;
    width: 100%;
}
