body {
    margin: 0;
    background: rgb(212, 212, 212);
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

article.card {
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    color: rgba(59, 28, 28, 0.4);


}

.card img.close {

}

.card img.profile {

}

.card h1 {
    color: rgba(0,0,0,.8);


}

.card p {

}

.card a {
    background: rgba(0,0,0,.8);
    color: #eee;
    

}

.card a:hover {
    background: rgba(0,0,0,1);
}