body {
    margin: 0;
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .6);
}

.dice {
    background: #fff;
    border: 2px solid #222;
    border-radius: .5rem;
    margin: 1rem;
    display: flex;
    padding: 1rem;

    /* HÄR KODAR DU UPP DIN GRID */

}

.dice.faded {
    opacity: .2;
}

.dice aside {
    background: #222;
    border-radius: 99rem;
}

.dice aside:nth-child(1) { 
    
}
.dice aside:nth-child(2) {
    
}
.dice aside:nth-child(3) {
    
}
.dice aside:nth-child(4) {
    
}
.dice aside:nth-child(5) {
    
}
.dice aside:nth-child(6) {
    
}

.dice.dots-1 {

    
}

.dice.dots-2 {

    
}

.dice.dots-3 {

    
}

.dice.dots-4 {

    
}

.dice.dots-5 {

    
}

.dice.dots-6 {

    
}