/* DEFAULT SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #f7eded;
}

.header {
    width: 100%;
    background-color: cadetblue;
}

.navigation {
    max-width: 1000px;
    margin-inline: auto;
    color: white;
    font-size: 1.5rem;
    font-size: 600;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-list-item {
    text-align: center;
    list-style-type: none;
    padding: 1.5rem 0;
    cursor: pointer;
    width: 200px;
}

.navigation-list-item:hover {
    background-color: rgb(79, 130, 132);
}

.dropdown-item {
    position: relative;
}

.navigation-dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}

.dropdown-item {
    text-align: center;
    width: 200px;
    background-color: hotpink;
    list-style-type: none;
    padding: 1.5rem 0;
}

/* DET FÖRSTA KLASSEN TRICKAR EFTERFÖLJANDE KLASS */
.dropdown-item:hover .navigation-dropdown {
    display: block;
}

.dropdown-item:hover .arrow-up {
    display: none;
}

.dropdown-item:hover .arrow-down {
    display: block;
}

.arrow-up {
    display: none;
}


