body {
    margin: 0;
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .6);
}

.dice {
    background: #fff;
    border: 2px solid #222;
    border-radius: .5rem;
    margin: 1rem;
    display: grid;
    aspect-ratio: 1;
    gap: 0.3rem;

    /* HÄR KODAR DU UPP DIN GRID */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.dice.faded {
    opacity: .2;
}

.dice aside {
    background: #222;
    width: 10px;
    aspect-ratio: 1;
    border-radius: 99rem;
}

.dice aside:nth-child(1) { 
    grid-area: one;
}
.dice aside:nth-child(2) {
    grid-area: two;
}
.dice aside:nth-child(3) {
    grid-area: three;
}
.dice aside:nth-child(4) {
    grid-area: four;
}
.dice aside:nth-child(5) {
    grid-area: five;
}
.dice aside:nth-child(6) {
    grid-area: six;
}

.dice.dots-1 {
    grid-template-areas: 
        '. . . . .'
        '. . . . .'
        '. . one . .'
        '. . . . .'
        '. . . . .'
    ;
    
}

.dice.dots-2 {
    grid-template-areas: 
        '. . . . .'
        '. one . . .'
        '. . . . .'
        '. . . two .'
        '. . . . .'
    ;
    
}

.dice.dots-3 {
    grid-template-areas: 
        '. . . . .'
        '. one . . .'
        '. . two . .'
        '. . . three .'
        '. . . . .'
    ;
}

.dice.dots-4 {
    grid-template-areas: 
        '. . . . .'
        '. one . two .'
        '. . . . .'
        '. three . four .'
        '. . . . .'
    ;
    
}

.dice.dots-5 {
    grid-template-areas: 
        '. . . . .'
        '. one . two .'
        '. . three . .'
        '. four . five .'
        '. . . . .'
    ;
    
}

.dice.dots-6 {
    grid-template-areas: 
        '. . . . .'
        '. one . two .'
        '. three . four .'
        '. five . six .'
        '. . . . .'
    ;
    
}