* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 95%; 
    margin: 0 auto;
    padding: .5rem;
    border: 1px solid black;
}

header {
    height: 6rem; 
    width: 100%;
    background-color: #480063;
}

ul {
    margin-top: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: .5rem;
    width: 100%;
}

li {
    height: 6rem;
    width: 100%;
    background-color: #B2008A;
    list-style-type: none;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

article {
    height: 8rem;
    width: 100%;
    background-color: #FD96A9;
    margin-top: .5rem;
}

footer {
    background-color: #C1C99A;
    height: 8rem;
    width: 100%;
    margin-top: 0.5rem;
}






























/* @media screen and (min-width: 850px) {
    section {
        flex-direction: row;
    }

    article {
        flex: 1;
        margin-right: 0.5rem;
        height: 50vh;
    }

    article:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 1021px) {
    ul {
        grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
    }
} */