body {
    margin: 0;
    background: rgb(212, 212, 212);
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;

}

article.card {
    background: #f7f7f7;
    color: rgb(206, 56, 56);
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 0.5rem;
    border: .6rem solid #fff;
}

.card aside {
    display: flex;
    justify-content: center;
}

.card aside.middle {
    margin: 5rem;
    font-size: 4rem;
}

.card aside span {
    color: #666;
}

.card aside.top {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 1;
}

.card aside.bottom {
    transform: rotate(180deg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    font-size: 2rem;
    line-height: 1;   
}